**/.git
**/.gitignore
**/.next
**/dist
**/node_modules
**/*.tsbuildinfo
**/coverage
**/.env
**/.env.local
**/.env.*.local
**/test.db
**/dev.db
**/prisma/migrations
**/__tests__
**/vitest.config.ts
README.md
docker-compose.yml
docker-compose.prod.yml
nginx/
docs/
